@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    height: 139px;
    justify-content: space-between;
    width: 100%;
}
.dto{
    background-color: #1CD1B0;
    flex-grow: 0.27;
    font-family: roboto;
    font-size: 15px;
    padding: 10px;
    width:  auto;    
}
h1{
    background-color: #00669F;
    flex-grow: 0.73;
    font-family: roboto;
    font-size: 40px;
    padding: 28px;
    padding-bottom: 26px;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 834px;
    justify-content: space-evenly;
    width: 100%;
    margin: 2px;
    align-items: center;
}
.tarjeta1{
    background-color: #F3F3F3;
    height: 529px;
    position: relative;
    width: 300px;
}
.tarjeta2{
    background-color: #F3F3F3;
    height: 529px;
    position: relative;
    width: 300px;    
}
.tarjeta3{
    background-color: #F3F3F3;
    height: 529px;
    position: relative;
    width: 300px;
}
.corazon{
    position: absolute;
        left: 21px; top: 16px;
}
.circulo{
    border-radius: 60px;
    height: 120px;
    overflow: hidden;
    position: absolute;
        bottom: 282px;
        left: 90px; 
    width: 120px;
}
.foto{
    height: 120px;
}
h2{    
    font-family: roboto;
    font-size: 30px;
    position: absolute;
        bottom: 227px; left: 89px;
    text-align: center;
}
.descripcion{
    position: absolute;
        bottom: 104px; left: 16px;
    font-family: roboto;
    font-size: 16px;
    width: 90%;
}
.boton{
    background-color: #00669F;
    color: #F3F3F3;
    font-family: roboto;
    font-size: 15px;
    padding: 15px 37px 15px 37px;
    position: absolute;
        bottom: 15.5px; left: 85px;
}
footer{
    background-color: #00669F;
    color: #FFF9F9;
    font-family: roboto;
    font-size: 16px;
    padding: 16px;
    width: 100%;
}
