@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: #e5e5e5;
    font-family: 'Roboto';    
}
main{
    height: 834px;
}
.descuento{
    background-color: rgba(28, 209, 176, 1);
        font-size: 15px;
    padding: 10px;
    width: 100%;    
}
.titulo{
    background-color: #00669F;
    border-bottom: solid 8px silver;
    font-size: 40px;
    padding-bottom: 26px;
    padding-top: 28px;
    padding-left: 28px;
    width: 100%;
}
.tarjetas{
    height: 530px;
    position:relative;
    top: 154px;
    left: 32px;
    width: 960px;    
}
.tarjeta1{
    background-color: #F3F3F3;
    border-bottom: solid 5px silver;
    display: inline-block;
    height: 530px;
    position: relative;
}
.corazon{
    position: absolute; left: 21px; top: 15.8px;
}
.redondo{
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
    position: absolute; top: 128px; left: 90px;
    width: 120px;
}

.foto{
    height: 120px;
}

h2{
    position: absolute; left: 89px; top: 267px;    
}

.parrafo{
    position: absolute;
    left: 16px; top: 312px;
    width: 267px;
    text-align: left;    
}

.boton{
    background-color: #00669F;
    color: #FFF9F9;
    font-size: 15px;
    padding: 15px 37px;
    position: absolute;
        bottom: 18.5px;
        left: 85px;        
}

.tarjeta2{
    background-color: #F3F3F3;
    border-bottom: solid 5px silver;
    display: inline-block;
    height: 530px;
    position: absolute; 
        left: 330px;
}
.tarjeta3{
    background-color: #F3F3F3;
    border-bottom: solid 5px silver;
    display: inline-block;
    height: 530px;
    position: absolute;
        left: 660px;
}
footer{
    background-color: #00669F;
    color: #FFF9F9;
    padding: 16px;
}